.catalog-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
}
.catalog-images{
    width: 100%;
    height: 331px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;


}
/*height: 331px*/
.catalog-subtitle__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /*font-size: 12px;*/
    font-size: 13px;
}
.item{
    margin-right: 20px;
    width: 190px;
    margin-bottom: 40px;
}

